{% extends 'task/base.html' %}
{% block body %}
{% if tasks %}
    {% if tasks %}
        {% for task in tasks %}
            <div class="row">
               <div class="col-md-4"></div>
                <div class="col-md-4">
                    <center><h1>Edit Task:</h1></center>
                    <form action = "/task/editt/{{ task.id }}" method="post" id="form1">
                        {% csrf_token %}
                        <div class="row form-group">
                        <label> Task Name: </label> <input class="form-control" type="text" id="name1" name="name1" value="{{ task.name }}"><br><br>
                        <label> Task Description: </label> <input class="form-control" type="text" id="desc1" name="desc1" value="{{ task.desc }}"><br><br>
                        </div>
                        <center><input class="btn btn-primary" type="submit" value="  Edit  "></center>
                    </form>
                    {% endfor %}

                </div>
                <div class="col-md-4"></div>
            </div>




    {% endif %}
{% else %}
    <div class="row">
        <div class="col-md-4"></div>
                <div class="col-md-4">
                    <center><h1>Add a Task:</h1></center>
                    <form action = "/task/addt" method="post" id="form1">
                        {% csrf_token %}
                            <label> Name: </label> <input class="form-control" type="text" id="name1" name="name1"><br><br>
                            <label> DESC: </label> <input class="form-control" type="text" id="desc1" name="desc1"><br><br>
                            <center><input class="btn btn-primary" type="submit" value="Add"></center>
                    </form>
                </div>
        <div class="col-md-4"></div>
    </div>


{% endif %}
{% endblock %}
