{% extends 'task/base.html' %}
{% block body %}
{% if all_task %}



	<center><h2>Hello {{ user.username }}</h2></center>




	<!--a href="{% url 'logout' %}">logout</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="/task/add">Add</a-->


    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <center><h2>All the Tasks are listed below</h2></center>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>User</th>
                        <th>Action</th>
                    </tr>
                </thead>
                {% for task in all_task %}
            <tbody>
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.desc }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.user.id }}</td>
                        <td><a href="/task/edit/{{ task.id }}" ><input type="button" value="EDIT"></a> &nbsp;
                            <a href="/task/delete/{{ task.id }}" ><input type="button" value="DELETE"></a>
                            <a href="/task/mark_done/{{ task.id }}" ><input type="button" value="MARK DONE"></a>


                        </td>
                    </tr>
            </tbody>

                {% endfor %}
        </table>
        </div>
        <div class="col-md-3"><a href="/task/hide_done" ><input type="button" value="HIDE DONE"></a></div>
    </div>
    {% if error_msg %}
            <center><div class="row">
            <P style="color:red">  {{ error_msg }}
            </P>

            </div></center>
    {% endif %}

{% else %}
	<h2>you dont have any Tasks</h2>
{% endif %}

{% endblock %}
